- hosts: k8snode
  #become: yes
  #become_method: sudo
  tasks:
    - name: Delete deployment (ignore errors if not exists)
      command: kubectl delete -f /home/control-plane-node/k8s-manifest/task-manager-web/deployment.yaml
      environment:
        KUBECONFIG: /home/control-plane-node/.kube/config
      ignore_errors: yes

    - name: Apply deployment
      command: kubectl apply -f /home/control-plane-node/k8s-manifest/task-manager-web/deployment.yaml
      environment:
        KUBECONFIG: /home/control-plane-node/.kube/config

    - name: Apply service
      command: kubectl apply -f /home/control-plane-node/k8s-manifest/task-manager-web/service.yaml
      environment:
        KUBECONFIG: /home/control-plane-node/.kube/config